<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left">
                        <figure>
                            <img src="images/about.jpg" alt="Saby" class="img-fluid" title="thapa technical">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_right">
                        <p>Welcome to Weather App</p>
                        <h1>A <span class="text-clr">Mern Stack Developer, Dancer and Orator </span></h1>
                        <a href="/www.google.com" target="_blank"><button>About Me</button></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
       {{>footer}}
    </div>
</body>

</html>